*@font-face {
	font-family: "Geometria-Bold, Geometria-Medium, Geometria-Light";
	src : url('../font/10261.otf, 10262.otf, 10265.otf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Geometria-Bold, Geometria-Medium, Geometria-Light";
	box-sizing: border-box;
    width: 100%;
    max-width: 1536px;
}

a {
	text-decoration: none;
}

.page-header {
	height: 81px;
}

.logo {
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 50px;
}

.text-house {
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px 0 0 20px;
}

span {
	font-weight: bold;
    font-size: 17px;
}

.box-logo {
	display: flex;
}

.working {
	font-size: 16px;
	width: 50%;
	padding-right: 15px;
}

.clock {
	background: url(../img/icon_clock.png);
	width: 18px;
	height: 18px; 
	background-repeat: no-repeat;
    margin-top: 10px;
}

.working-hours {
	display: flex;
	padding-top: 10px;	
}

button {
	padding: 15px 25px;
	color: #fff;
	background-color: #fa4529;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #fa382a;
	border-radius: 10px;
	padding-left: 20px;
}

.box-header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
}

.blockPhone {
	display: flex;
}

.connection {
     width: 40%;
     padding-top: 10px;
}

.block-work {
	display: flex;
}

.bg-home {
	background: url(../img/bg_home.png);
	background-repeat: no-repeat;
	height: 480px;
	position: relative;
}

.blockHome {
	position: absolute;
	left: 20%;
	top: 8%;
	display: block;

}

h1 {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}

.text-home {
	font-size: 17px;
	color: #fff;
	width: 62%;
	padding-top: 20px;
	line-height: 22px;
}

.text-warranty {
	font-size: 14px;
	color: #fff;
	width: 30%;
	padding-top: 20px;
	line-height: 20px;
}

.text-team {
	font-size: 14px;
	color: #fff;
	width: 15%;
	padding-right: 50px;
}

.text-team:last-child {
	padding-right: 0; 
}

strong {
	font-size: 12px;
}

.box-team {
	display: flex;
	position: absolute;
	left: 20%;
	top : 79%;
}

.hexagon {
    width: 300px;
    height: 339px;
    background: url(../img/hexagon.png);
    background-repeat: no-repeat;
    position: relative;
    left: 61.3%;
    top: 15%;
}

.heading {
	font-size: 14px;
	font-weight: bold;
	width: 55%;
	text-align: center;
	margin: 0 auto;
	padding-top: 62px;
}

.name {
	font-size: 12px;
	text-align: center;
	padding: 12px;
	margin-top: 5px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}

form {
	width: 60%;
	margin: 0 auto;
	margin-top: 15px;
}

.btn {
	font-size: 14px;
	color: #fff;
	background-color: #f94e28;
	padding: 12px 41px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 10px;
}

.page-projects {
	height: 800px;
}

.heading-projects {
	font-size: 25px;
	text-align: center;
	margin-top: 70px;
}

.selection {
	display: flex;
	width: 20%;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 40px;
}

.economy {
	text-transform: uppercase;
	font-size: 15px;
	color: #2a4258;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
}

.average, .premium {
	font-size: 15px;
	text-transform: uppercase;
	padding-top: 6px;
	color: #2a4258;
}

.average:hover, .premium:hover {
	border: 1px solid #2a4258;
	border-radius: 5px;
	padding: 5px;	
}

.box-projects {
	display: flex;
	width: 100%;
	max-width: 1145px;
	margin: 0 auto;
	justify-content: center; 
	padding-top: 50px;
}

.block-project {
	width: 100%;
	max-width: 370px;
	height: 470px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	margin-left: 15px;
}

.block-project:first-child {
	margin-left: 0;
}

.house1 {
	background: url(../img/images_house.png);
	background-repeat: no-repeat;
	width: 370px;
	height: 240px;
}

.homes-forever {
	font-size: 20px;
	font-weight: bold;
}

.area {
	font-size: 16px;
	line-height: 20px;
	width: 56%;
	padding-top: 23px;
	margin: 0 auto; 
}

.box-btn {
     font-size: 12px;
     color: #fff;
     background-color: #f94e28;
     border: 1px solid #f94e28;
     padding: 15px 25px;
     border-radius: 5px;
     margin-top: 23px;
     width: 90%;
}

.content {
	width: 60%;
	margin: 0 auto;
	padding-top: 20px;
}

.block-ellips {
	display: flex;
	width: 15%;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 80px;
}

.leftArrow {
	background: url(../img/leftArrowbutton.png);
	background-repeat: no-repeat;
	width: 12px;
	height: 20px;
}

.box-ellips {
	display: flex;
}

.ellips2 {
	background: url(../img/ellips2.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	padding-right: 10px;
}

.ellips3 {
	background: url(../img/ellips3.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.rightArrow {
    background: url(../img/rightArrowbutton.png);
	background-repeat: no-repeat;
	width: 12px;
	height: 20px;
}

.bg2Home {
	background: url(../img/bg2_home.png);
	background-repeat: no-repeat;
	height: 1151px;
	position: relative;
}

.leaves {
	background: url(../img/leaves.png);
	background-repeat: no-repeat;
	width: 453px;
	height: 80px;
	position: absolute;
	left: 35%;
}

.head-projects {
	font-size: 25px;
	font-weight: bold;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}

.text-development {
	font-size: 15px;
	text-align: center;
	padding-top: 30px;
}

.box-home {
	display: flex;
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	justify-content: center;
	padding-top: 40px;
}

.img {
	width: 370px;
	height: 245px;
	padding-right: 15px;
}

.img:last-child {
	padding-right: 0;
}

.imgHome {
	background: url(../img/img_home.png);
	background-repeat: no-repeat;
}

.houseGreen {
	background: url(../img/house_green.png);
	background-repeat: no-repeat;
	position: relative;
}

.plus {
	background: url(../img/plus.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 40%;
	top: 40%;
}

.houseImg {
	background: url(../img/house_img.png);
	background-repeat: no-repeat;
}

.house2 {
	background: url(../img/house.png);
	background-repeat: no-repeat;
}

.home {
	background: url(../img/home.png);
	background-repeat: no-repeat;
}

.page-forma {
	width: 100%;
	max-width: 1140px;
	height: 250px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
}

.block-forma {
	padding-left: 12%;
	width: 100%;
}

.heading-form {
	font-size: 20px;
	font-weight: bold;
	width: 70%;
	padding-top: 40px;
}

.text-forma {
	font-size: 15px;
	padding-top: 20px;
}

.forma {
	font-size: 12px;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    width: 15%;
    margin-right: 20px;
}

.box-forma {
	margin-top: 20px;
}

.button {
	font-size: 13px;
}

.page-construction {
	height: 800px;
}

.box-construction {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.head-construction {
	font-size: 30px;
	font-weight: bold;
	color: #284157;
	text-align: center;
	padding-top: 70px;
    width: 70%;
    margin: 0 auto;
}

.text-construction {
	font-size: 20px;
    padding-top: 40px;
    width: 54%;
    text-align: center;
    margin: 0 auto;
}

.home-construction {
	background: url(../img/home_construction.png);
	background-repeat: no-repeat;
	width: 441px;
	height: 394px;
	margin: 0 auto;
}

.boxConstruction {
	margin-top: 60px;
	position: relative;
}

.item {
	font-size: 20px;
	color: #284157;
	text-decoration: underline;
}

.item1 {
	position: absolute;
	top: 13%;
	left: 1%;
}

.item2 {
	position: absolute;
	top: 42%;
	left: 5%;
}

.item3 {
	position: absolute;
	top: 65%;
	left: 5%;
}

.item4 {
	position: absolute;
	top: 93%;
	left: 9%;
}

.item5 {
	position: absolute;
	top: 2%;
	left: 86%;
}

.item6{
	position: absolute;
	top: 26%;
	left: 86%;
}

.item7 {
	position: absolute;
	top: 52%;
    left: 86%;
}

.item8 {
	position: absolute;
	top: 78%;
    left: 86%;
}

.hr {
	width: 15%;
	border-top: 1px solid  #fb9439;
	position: absolute;
	right: 66%;
}

.hr2 {
	position: absolute;
	width: 25%;
	border-top: 1px solid #fb9439;
	right: 55%;
    top: 45%; 
}

.hr3 {
	width: 11%;
	border-top: 1px solid  #fb9439;
	position: absolute;
	right: 69%;
    top: 68%;
}

.hr4 {
	width: 21%;
	border-top: 1px solid  #fb9439;
	position: absolute;
	right: 59%;
    top: 96%;
}

.hr5 {
	width: 20%;
	border-top: 1px solid  #fb9439;
	position: absolute;
	top: 5%;
    right: 15%;
}

.hr6 {
	width: 20%;
    border-top: 1px solid  #fb9439;
    position: absolute;
    top: 29%;
    left: 65%;
}

.hr7 {
    width: 21%;
    border-top: 1px solid  #fb9439;
    position: absolute;
    top: 55%;
    left: 64%;
}

.hr8 {
	width: 37%;
    border-top: 1px solid  #fb9439;
    position: absolute;
    top: 81%;
    left: 48%;
}

.ellips {
	background: url(../img/ellips.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.el1 {
	position: absolute;
	left: 35%;
	top: 14%;
}

.el2 {
	position: absolute;
	left: 46%;
	top: 43%;
}

.el3 {
	position: absolute;
	left: 32%;
	top: 66%;
}

.el4 {
	position: absolute;
	top: 94%;
	left: 42%;
}

.el5 {
	position: absolute;
	right: 36%;
    top: 2.5%;
}

.el6 {
	position: absolute;
	top: 27%;
    right: 36%;
}

.el7 {
	position: absolute;
	top: 53%;
    right: 37%;
}

.el8 {
	position: absolute;
	top: 79%;
    right: 53%;
}

.box-item {
	display: flex;
	margin-top: 50px;
}

.block-left {
	float: left;
	margin-top: 15px;
}

.block-right {
	float: right;
	margin-bottom: 40px;
}

.box-item-right {
	display: flex;
}

.page-ConstrMaterials {
	height: 550px;
	background-color: #263e53;
}

.heading-materials {
	font-size: 30px;
	color: #fff;
	text-align: center;
	width: 30%;
	margin: 0 auto;
	padding-top: 80px;
}

.slabs {
	background: url(../img/slabs.png);
	background-repeat: no-repeat;
	width: 270px;
	height: 190px;
}

.text-materials {
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 20px;
	
}

.moreDetails {
	font-size: 14px;
	color: #fff;
	line-height: 45px;
}

.moreDetails:hover {
	border-bottom: 1px solid #94a0ab;
}

.bricks {
	background: url(../img/bricks.png);
	background-repeat: no-repeat;
	width: 270px;
	height: 190px;
}

.brickBlocks {
	background: url(../img/brick_blocks.png);
	background-repeat: no-repeat;
	width: 270px;
	height: 190px;
}

.foamBlocks {
	background: url(../img/foam_blocks.png);
	background-repeat: no-repeat;
	width: 270px;
	height: 190px;
}

.box-materials {
	display: flex;
	width: 70%;
	margin: 0 auto;
	padding-top: 60px;
}

.block-materials {
	text-align: center;
}









